body
	background-color #EFEFF4

.headnav
	width 100%
	height 50px
	background-color white
	border-bottom 1px solid #D6D7DC
	position relative

.headnav .navback
	display inline-block
	width 10px
	height 18px
	margin-top 16px
	position absolute
	left 5%

.headnav>.tologin
	display block
	float right
	line-height 50px
	position absolute
	right 5%

.headnav>.navname
	display block
	text-align center
	line-height 50px
	font-size 18px
	color #ED6F36

.itembox
	width 100%
	height 253px
	background-color white
	border-top 1px solid #ECECF0
	border-bottom 1px solid #ECECF0

.itembox>.iptline
	width 90%
	height 50px
	margin 0 auto
	position relative

.iptline>.itemicon
	width 20px
	height 20px
	display block
	float left
	margin-top 15px
	position absolute
	left 0

.iptline>.itemname
	line-height 50px
	margin-left 30px
	display inline-block

.iptline>.putin
	font-size 16px
	width 70%
	height 30px
	border none
	outline none

.itembox>.splitline
	width 90%
	height 1px
	margin 0 auto
	background-color #ECECF0

.iptline>.chkicon
	width 11px
	height 20px
	display block
	float left
	margin-top 15px
	position absolute
	left 0

.iptline>.chkbtn
	width 78px
	height 26px
	background-color #EA5404
	border-radius 5px
	border none
	outline none
	font-size 12px
	color white
	display block
	float right
	margin-top 12px

.iptline>.chkputin
	width 30%
	height 30px
	font-size 16px
	border none
	outline none

.iptline>.open
	width 13px
	height 8px
	margin-top 21px
	display block
	float right

.iptline>.opencontent
	position absolute
	top 30px
	right 5%

.opencontent
	display none

.opencontent>.optab
	width 65px
	height 30px
	background-color #A3A3A3
	display block
	font-size 14px
	line-height 30px
	text-align center
	color white

.opencontent>.optab:nth-child(1)
	border-radius 10px 10px 0 0
	border-bottom 1px solid #E6E6E6

.opencontent>.optab:nth-child(5)
	border-radius 0 0 10px 10px
	border-top 1px solid #E6E6E6

.opencontent>.spline
	border-top 1px solid #E6E6E6
	border-bottom 1px solid #E6E6E6

.subbtn
	width 90%
	height 45px
	background-color #C7C7C7
	border none
	outline none
	font-size 16px
	color white
	margin 0 auto
	margin-top 30px
	border-radius 5px
	display block

.agree
	display block
	text-align center
	margin-top 5px
	font-size 14px

.agree>a
	color #EA5404