body
	background-color #EFEFF4
	padding-top 50px
	padding-bottom 60px

.tagnavinfos
	width 100%
	height 30px
	padding 10px 0
	background-color white
	border-bottom 1px solid #D6D7DC
	z-index 10
	position fixed
	top 0

.tagnavinfos>.wth244
	width 244px
	margin 0 auto

.tagnavinfos .infostab
	display block
	float left
	width 80px
	height 28px
	text-align center
	line-height 28px
	border-top 1px solid #EA5404
	border-bottom 1px solid #EA5404
	color #EA5404

.tagnavinfos .message
	border-radius 5px 0 0 5px
	border-left 1px solid #EA5404

.tagnavinfos .notify
	border-left 1px solid #EA5404
	border-right 1px solid #EA5404

.tagnavinfos .need
	border-radius 0 5px 5px 0
	border-right 1px solid #EA5404

.tagnavinfos .active
	background-color #EA5404
	color white

.infosbox
	width 90%
	padding-bottom 10px
	margin 0 5%
	height auto
	background-color white
	border-radius 5px
	margin 0 auto
	margin-top 20px
	box-shadow 2px 2px 10px #888888
	overflow hidden
	position relative

.infosbox>.title
	display inline-block
	width 90%
	padding 0 5%
	height 39px
	border-bottom 1px solid #D6D7DC
	line-height 39px

.infosbox>.content
	display inline-block
	width 90%
	height auto
	line-height 20px
	padding 0 5%
	padding-top 10px
	font-size 14px
	color #646464

.msgbox>.msgdate
	font-size 12px
	color lightgray
	display block
	float right
	margin-right 5%

.ntfybox>.ntfydate
	line-height 39px
	font-size 12px
	color lightgray
	position absolute
	top 0
	right 5%

.nedbox>.nedfrom
	display block
	width 50px
	height 20px
	border-radius 5px
	text-align center
	line-height 20px
	font-size 14px
	color white
	position absolute
	top 10px
	right 5%

.nedbox>.subtenant
	background-color #15B755

.nedbox>.agent
	background-color #0193E6

.nedbox>.developer
	background-color #97B715

.nedbox>.agency
	background-color #EA5404

.nedbox>.operator
	background-color #696969

.nedbox>.title
	border none

.nedbox>.splitimg
	display block
	height 4px

.nedbox>.nedbtn
	display block
	width 80px
	height 24px
	background-color #EFEFF4
	border-radius 5px
	border 1px solid #E1E1E1
	text-align center
	line-height 24px
	margin 0 auto
	margin-top 10px
	font-size 12px
	color #646464

.nedbox>.neddate
	color lightgray
	font-size 12px
	line-height 26px
	position absolute
	bottom 10px
	right 5%

.ntfybox
	display none

.nedbox
	display none