body
	background-color #EFEFF4

.headnav
	width 100%
	height 50px
	background-color white
	position relative
	border-bottom 1px solid #D6D7DC

.headnav .toset
	width 20px
	height 20px
	margin-top 15px
	display inline-block
	position absolute
	right 5%
	
.headnav>.navname
	display block
	text-align center
	line-height 50px
	font-size 18px
	color #ED6F36

.headbox
	display block
	width 100%
	height 90px
	background-color white
	border-bottom 1px solid #D6D7DC
	margin-top 10px

.headbox>.headpic
	width 60px
	height 60px
	float left
	margin 15px 0 0 5%

.headbox>.goicon
	width 10px
	height 18px
	float right
	margin 36px 5% 0 0

.headbox>.tologin
	line-height 90px
	display inline-block
	margin-left 20px

.headinfo
	width 100%
	height 40px
	background-color white
	border-bottom 1px solid #D6D7DC
	position relative

.headinfo>.hdinfotab
	width 49.8%
	height 40px
	display block
	float left
	text-align center
	line-height 40px

.headinfo>.splitline
	float left
	width 1px
	height 24px
	background-color #D6D7DC
	margin-top 8px
	
.melist>li
	display blcok
	width 100%
	height 50px
	background-color white
	border-bottom 1px solid #D6D7DC
	margin-top 10px

.melist>li>a
	display inline-block
	width 100%
	height 50px
	
.melist .listicon
	width 20px
	height 20px
	float left
	margin-left 5%
	margin-top 15px

.melist .listopen
	width 8px
	height 15px
	float right
	margin-right 5%
	margin-top 17px

.melist .listname
	display inline-block
	line-height 50px
	margin-left 10px
	
.tagnav
	width 100%
	height 50px
	background-color white
	position fixed
	bottom 0
	border-top 1px solid #D6D7DC

.tagnav>.navtab
	display inline-block
	width 18.97%
	height 50px
	position relative

.navtab>.tgnavpic
	width 20px
	height 20px
	display block
	margin 0 auto
	margin-top 8px

.navtab>.addcontent
	width 44px
	height 38px
	display block
	margin 0 auto
	margin-top 6px

.navtab>.tgnavname
	display block
	width 100%
	color #C2C2C2
	text-align center
	font-size 14px
	position absolute
	top 56%

.navtab>.active
	color #EA5404