<!DOCTYPE html>
<html>
<head>
	<title>宜其家室 - 杭州摆摆网络科技有限公司</title>
	<meta name="keywords" content="杭州摆摆网络科技有限公司">
	<meta name="description" content="杭州摆摆网络科技有限公司是1家互联网制作及设计的现代设计公司，
		摆摆网络将市场定位与企业互联网电子商务平台及企业信息化建设为基点，提供全方位的设计与应用方案。"/>
	<meta charset="UTF-8" name="viewport"
		content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no"/>
	<link rel="stylesheet" type="text/css" href="../public/css/universal.css"/>
	<link rel="stylesheet" type="text/css" href="../public/css/index-search.css"/>
	<script type="text/javascript" src="../public/js/jquery-1.12.2.min.js"></script>
	<script type="text/javascript" src="../public/js/index-search.js"></script>
</head>
<body>
	
	<!-- 头部导航栏headnav -->
	<div class="headnav">
		<div class="searchbox">
			<img class="searchicon" src="../public/img/index/nav_icon_search@2x.png"/>
			<input class="searchputin" placeholder="精致家宅，宜其家室"/></div>
		<a href="tagnav-index.html" class="searchclose">取消</a>
	</div>
	
	
	<!-- 最近搜索和清除记录 latest & clear -->
	<div class="searchoperator">
		<span class="latestsearch">最近搜索</span>
		<span class="clearsearch">清除记录</span></div>
	
	
	<!-- 曾经搜索过的记录 searchlist -->
	<ul class="searchlist">
		<li class="searchnote">创意产业园</li>
		<li class="searchnote">陆家嘴</li>
		<li class="searchnote">外滩</li>
		<li class="searchnote">南京路</li>
		<li class="searchnote">浦东商业区</li></ul>
	
	
	
</body>
</html>
