<!DOCTYPE html>
<html lang="en">
<head>
	<title>宜其家室 - 杭州摆摆网络科技有限公司</title>
	<meta name="keywords" content="杭州摆摆网络科技有限公司">
	<meta name="description" content="杭州摆摆网络科技有限公司是1家互联网制作及设计的现代设计公司，
		摆摆网络将市场定位与企业互联网电子商务平台及企业信息化建设为基点，提供全方位的设计与应用方案。"/>
	<meta charset="UTF-8" name="viewport"
		content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no"/>
	<link rel="stylesheet" type="text/css" href="../public/css/universal.css"/>
	<link rel="stylesheet" type="text/css" href="../public/css/swiper.css"/>
	<link rel="stylesheet" type="text/css" href="../public/css/index-house.css"/>
	<script type="text/javascript" src="../public/js/swiper.js"></script>
	<script type="text/javascript" src="../public/js/banner.js"></script>
	<script type="text/javascript" src="../public/js/jquery-1.12.2.min.js"></script>
</head>
<body>
	
	<div class="swiper-container">
        <div class="swiper-wrapper">
        	<img class="swiper-slide" src="../public/img/index/banner_img1@2x.png"/>
        	<img class="swiper-slide" src="../public/img/index/banner_img2@2x.jpg"/>
        	<img class="swiper-slide" src="../public/img/index/banner_img3@2x.jpg"/>
        	<img class="swiper-slide" src="../public/img/index/banner_img4@2x.jpg"/></div>
        <div class="swiper-pagination"></div>
    </div>
	
</body>
</html>
