<!DOCTYPE html>
<html lang="en">
<head>
	<title>宜其家室 - 杭州摆摆网络科技有限公司</title>
	<meta name="keywords" content="杭州摆摆网络科技有限公司">
	<meta name="description" content="杭州摆摆网络科技有限公司是1家互联网制作及设计的现代设计公司，
		摆摆网络将市场定位与企业互联网电子商务平台及企业信息化建设为基点，提供全方位的设计与应用方案。"/>
	<meta charset="UTF-8" name="viewport"
		content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no"/>
	
	<link rel="stylesheet" type="text/css" href="../public/css/universal.css"/>
	<link rel="stylesheet" type="text/css" href="../public/css/login.css"/>
	<script type="text/javascript" src="../public/js/jquery-1.12.2.min.js"></script>
	<script type="text/javascript" src="../public/js/login.js"></script>
</head>
<body>
	
	<div class="headnav">
		<a href="tagnav-index.html">
			<span class="visitlogin">游客访问</span></a>
		<span class="navname">登录</span>
	</div>
	
	<div class="itembox">
		<div class="iptline">
			<img class="itemicon"
				src="../public/img/login/content_ID_icon@2x.png"/>
			<span class="itemname">账号：</span>
			<input type="text" class="putin" id="name"
				placeholder="请输入您的手机号"/></div>
		<div class="splitline"></div>
		<div class="iptline">
			<img class="itemicon"
				src="../public/img/login/content_password_icon@2x.png"/>
			<span class="itemname">密码：</span>
			<input type="password" class="putin" id="psw"
				placeholder="请输入您的账号密码"/></div>
	</div>
	
	
	<div class="remind ">账号和密码不匹配，请重试</div>
	
	
	<input type="submit" value="登录" class="subbtn"/>
	
	<div class="othergo">
		<a href="register.html" class="register">注册</a>
		<a href="forgetpsw.html" class="forgetpsw">忘记密码?</a>
	</div>
	
</body>
</html>
