<!DOCTYPE html>
<html lang="en">
<head>
	<title>宜其家室 - 杭州摆摆网络科技有限公司</title>
	<meta name="keywords" content="杭州摆摆网络科技有限公司">
	<meta name="description" content="杭州摆摆网络科技有限公司是1家互联网制作及设计的现代设计公司，
		摆摆网络将市场定位与企业互联网电子商务平台及企业信息化建设为基点，提供全方位的设计与应用方案。"/>
	<meta charset="UTF-8" name="viewport"
		content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no"/>
	
	<link rel="stylesheet" type="text/css" href="../public/css/universal.css"/>
	<link rel="stylesheet" type="text/css" href="../public/css/register.css"/>
</head>
<body>
	
	<div class="headnav">
		<a href="login.html"><img class="navback"
			src="../public/img/login/nav_back_icon@2x.png"/></a>
		<span class="navname">注册</span>
	</div>
	
	<div class="itembox">
		<div class="iptline">
			<img class="itemicon"
				src="../public/img/login/content_ID_icon@2x.png"/>
			<span class="itemname">账号：</span>
			<input type="text" class="putin"
				placeholder="请输入您的手机号"/></div>
		<div class="splitline"></div>
		<div class="iptline">
			<img class="chkicon"
				src="../public/img/login/content_verify_icon@2x.png"/>
			<span class="itemname">验证码：</span>
			<button class="chkbtn">获取验证码</button>
			<input type="text" class="chkputin"
				placeholder="请输入验证码"/></div>
		<div class="splitline"></div>
		<div class="iptline">
			<img class="itemicon"
				src="../public/img/login/content_password_icon@2x.png"/>
			<span class="itemname">密码：</span>
			<input type="password" class="putin"
				placeholder="请输入您的登录密码"/></div>
		<div class="splitline"></div>
		<div class="iptline">
			<img class="itemicon"
				src="../public/img/login/content_password_icon@2x.png"/>
			<span class="itemname">密码：</span>
			<input type="password" class="putin"
				placeholder="请输入您的登录密码"/></div>
		<div class="splitline"></div>
		<div class="iptline">
			<img class="itemicon"
				src="../public/img/login/content_position_icon@2x.png"/>
			<img class="open"
				src="../public/img/login/content_open_icon@2x.png"/>
			<span class="itemname">身份：</span>
			<span class="putin">经纪人</span>
			<div class="opencontent">
				<span class="optab">经纪人</span>
				<span class="optab">转租人</span>
				<span class="optab spline">运营商</span>
				<span class="optab">代理人</span>
				<span class="optab">开发商</span></div></div>
		<div class="splitline"></div>
	</div>
	
	<input type="submit" value="注册" class="subbtn"/>
	
	<span class="agree">注册即代表同意
		<a href="#">《宜其家室用户协议》</a></span>
		
<body>
</body>
</html>
