<!DOCTYPE html>
<html lang="en">
<head>
	<title>宜其家室 - 杭州摆摆网络科技有限公司</title>
	<meta name="keywords" content="杭州摆摆网络科技有限公司">
	<meta name="description" content="杭州摆摆网络科技有限公司是1家互联网制作及设计的现代设计公司，
		摆摆网络将市场定位与企业互联网电子商务平台及企业信息化建设为基点，提供全方位的设计与应用方案。"/>
	<meta charset="UTF-8" name="viewport"
		content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no"/>
	
	<link rel="stylesheet" type="text/css" href="../public/css/universal.css"/>
	<link rel="stylesheet" type="text/css" href="../public/css/tagnav-me.css"/>
</head>
<body>
	
	<div class="headnav">
		<a href="#"><img class="toset"
			src="../public/img/login/nav_set_icon@2x.png"/></a>
		<span class="navname">我</span>
	</div>
	
	
	<a href="login.html" class="headbox">
		<img class="headpic"
			src="../public/img/login/log in_user-head@2x.png"/>
		<img class="goicon"
			src="../public/img/login/log in_right_icon@2x.png"/>
		<span class="tologin">点击登录/注册</span>
	</a>
	
	
	<div class="headinfo">
		<a href="#" class="hdinfotab tabsel"><strong>0</strong> 收藏</a>
		<div class="splitline sel"></div>
		<a href="#" class="hdinfotab"><strong>0</strong> 房源</a>
	</div>
	
	
	<ul class="melist">
		<li><a href="#">
			<img class="listicon"
				src="../public/img/login/content_list_icon01@2x.png"/>
			<img class="listopen"
				src="../public/img/login/content_list_right_icon@2x.png"/>
			<span class="listname">我发布的需求</span></a></li>
		<li><a href="#">
			<img class="listicon"
				src="../public/img/login/content_list_icon02@2x.png"/>
			<img class="listopen"
				src="../public/img/login/content_list_right_icon@2x.png"/>
			<span class="listname">我发布的房源</span></a></li>
		<li><a href="#">
			<img class="listicon"
				src="../public/img/login/content_list_icon05@2x.png"/>
			<img class="listopen"
				src="../public/img/login/content_list_right_icon@2x.png"/>
			<span class="listname">我预约的房源</span></a></li>
		<li><a href="#">
			<img class="listicon"
				src="../public/img/login/content_list_icon03@2x.png"/>
			<img class="listopen"
				src="../public/img/login/content_list_right_icon@2x.png"/>
			<span class="listname">历史交易</span></a></li>
		<li><a href="#">
			<img class="listicon"
				src="../public/img/login/content_list_icon04@2x.png"/>
			<img class="listopen"
				src="../public/img/login/content_list_right_icon@2x.png"/>
			<span class="listname">过期房源</span></a></li>
	</ul>


	<div class="tagnav">
		<a href="tagnav-index.html" class="navtab">
			<img class="tgnavpic" 
				src="../public/img/tagnav/bottom_nor_icon04@2x.png"/>
			<span class="tgnavname">首页</span></a>
		<a href="tagnav-appoint.html" class="navtab">
			<img class="tgnavpic" 
				src="../public/img/tagnav/bottom_nor_icon03@2x.png"/>
			<span class="tgnavname">预约</span></a>
		<a href="tagnav-post.html" class="navtab">
			<img class="addcontent" 
				src="../public/img/tagnav/bottom_icon05@2x.png"/></a>
		<a href="tagnav-infos.html" class="navtab">
			<img class="tgnavpic" 
				src="../public/img/tagnav/bottom_nor_icon02@2x.png"/>
			<span class="tgnavname">信息</span></a>
		<a class="navtab">
			<img class="tgnavpic" 
				src="../public/img/tagnav/bottom_press_icon01@2x.png"/>
		<span class="tgnavname active">我</span></a>
	</div>

</body>
</html>
