<!DOCTYPE html>
<html lang="en">
<head>
	<title>宜其家室 - 杭州摆摆网络科技有限公司</title>
	<meta name="keywords" content="杭州摆摆网络科技有限公司">
	<meta name="description" content="杭州摆摆网络科技有限公司是1家互联网制作及设计的现代设计公司，
		摆摆网络将市场定位与企业互联网电子商务平台及企业信息化建设为基点，提供全方位的设计与应用方案。"/>
	<meta charset="UTF-8" name="viewport"
		content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no"/>
	
	<link rel="stylesheet" type="text/css" href="../public/css/universal.css"/>
	<link rel="stylesheet" type="text/css" href="../public/css/swiper.css"/>
	<link rel="stylesheet" type="text/css" href="../public/css/tagnav-index.css"/>
	<link rel="stylesheet" type="text/css" href="../public/css/tagnav.css"/>
	<script type="text/javascript" src="../public/js/swiper.js"></script>
	<script type="text/javascript" src="../public/js/banner1.js"></script>
	<script type="text/javascript" src="../public/js/jquery-1.12.2.min.js"></script>
	<script type="text/javascript" src="../public/js/tagnav-index.js"></script>
</head>
<body>
	
	 <div class="swiper-container">
        <div class="swiper-wrapper">
        	<img class="swiper-slide" src="../public/img/index/banner_img1@2x.png"/>
        	<img class="swiper-slide" src="../public/img/index/banner_img2@2x.jpg"/>
        	<img class="swiper-slide" src="../public/img/index/banner_img3@2x.jpg"/>
        	<img class="swiper-slide" src="../public/img/index/banner_img4@2x.jpg"/></div>
        <div class="swiper-pagination"></div>
        <div class="headnav">
			<div class="appname">宜其家室</div>
			<a href="#" class="nowarea">
				<span class="areaname">上海</span>
				<img class="openicon" 
					src="../public/img/index/nav_icon_down@2x.png"/></a>
			<a href="index-search.html" class="search">
				<img class="searchicon" 
					src="../public/img/index/nav_icon_search@2x.png"/>
				<span class="placeholder">精致家宅，宜其家室</span></a>
	</div></div>
		
	
	<div class="searchnav">
		<div class="searchnavtab area">
			<span class="tabname">区域</span>
			<img class="openicon" 
				src="../public/img/index/content_icon02_nor@2x.png"/>
		</div><div class="splitline"></div>
		<div class="searchnavtab size">
			<span class="tabname">面积</span>
			<img class="openicon" 
				src="../public/img/index/content_icon02_nor@2x.png"/>
		</div><div class="splitline"></div>
		<div class="searchnavtab price">
			<span class="tabname">单价</span>
			<img class="openicon" 
				src="../public/img/index/content_icon02_nor@2x.png"/>
		</div><div class="splitline"></div>
		<div class="searchnavtab more">
			<span class="tabname">更多</span>
			<img class="openicon" 
				src="../public/img/index/content_icon02_nor@2x.png"/>
		</div><div class="splitline"></div>
		<div class="searchnavtab money">
			<img class="moneyicon moneyrandom" 
				src="../public/img/index/content_icon01_nor@2x.png"/>
			<img class="moneyicon moneydown " 
				src="../public/img/index/content_icon01_down@2x.png"/>
			<img class="moneyicon moneyup" 
				src="../public/img/index/content_icon01_litre@2x.png"/></div>
	</div>
	
	
	<span class="remind"></span>
	
	
	<a class="houselist">
		<div class="hsimg">
			<img src="../public/img/meinfo/content_img_list@2x.png"/></div>
		<div class="hsinfo">
			<img class="loveicon like" 
				src="../public/img/index/collect_icon_press@2x.png"/>
			<img class="loveicon dislike" 
				src="../public/img/index/collect_icon_nor@2x.png"/>
			<span class="hsname"><strong>东方金融中心</strong></span>
			<span class="hsaddress">浦东-八佰伴</span>
			<span class="hstype">商务中心</span>
			<span class="hsprice"><strong>￥7</strong> &nbsp;元/平米/天起</span>
			<span class="others">佣金：1个月</span></div></a>
	
	<a class="houselist">
		<div class="hsimg">
			<img src="../public/img/meinfo/content_img_list@2x.png"/></div>
		<div class="hsinfo">
			<img class="loveicon like" 
				src="../public/img/index/collect_icon_press@2x.png"/>
			<img class="loveicon dislike" 
				src="../public/img/index/collect_icon_nor@2x.png"/>
			<span class="hsname"><strong>东方金融中心</strong></span>
			<span class="hsaddress">浦东-八佰伴</span>
			<span class="hstype">商务中心</span>
			<span class="hsprice"><strong>￥7</strong> &nbsp;元/平米/天起</span>
			<span class="others">佣金：1个月</span></div></a>
	
	<a class="houselist">
		<div class="hsimg">
			<img src="../public/img/meinfo/content_img_list@2x.png"/></div>
		<div class="hsinfo">
			<img class="loveicon like" 
				src="../public/img/index/collect_icon_press@2x.png"/>
			<img class="loveicon dislike" 
				src="../public/img/index/collect_icon_nor@2x.png"/>
			<span class="hsname"><strong>东方金融中心</strong></span>
			<span class="hsaddress">浦东-八佰伴</span>
			<span class="hstype">商务中心</span>
			<span class="hsprice"><strong>￥7</strong> &nbsp;元/平米/天起</span>
			<span class="others">佣金：1个月</span></div></a>
	
	<a class="houselist">
		<div class="hsimg">
			<img src="../public/img/meinfo/content_img_list@2x.png"/></div>
		<div class="hsinfo">
			<img class="loveicon like" 
				src="../public/img/index/collect_icon_press@2x.png"/>
			<img class="loveicon dislike" 
				src="../public/img/index/collect_icon_nor@2x.png"/>
			<span class="hsname"><strong>东方金融中心</strong></span>
			<span class="hsaddress">浦东-八佰伴</span>
			<span class="hstype">商务中心</span>
			<span class="hsprice"><strong>￥7</strong> &nbsp;元/平米/天起</span>
			<span class="others">佣金：1个月</span></div></a>
	
	<a class="houselist">
		<div class="hsimg">
			<img src="../public/img/meinfo/content_img_list@2x.png"/></div>
		<div class="hsinfo">
			<img class="loveicon like" 
				src="../public/img/index/collect_icon_press@2x.png"/>
			<img class="loveicon dislike" 
				src="../public/img/index/collect_icon_nor@2x.png"/>
			<span class="hsname"><strong>东方金融中心</strong></span>
			<span class="hsaddress">浦东-八佰伴</span>
			<span class="hstype">商务中心</span>
			<span class="hsprice"><strong>￥7</strong> &nbsp;元/平米/天起</span>
			<span class="others">佣金：1个月</span></div></a>
	
	<a class="houselist">
		<div class="hsimg">
			<img src="../public/img/meinfo/content_img_list@2x.png"/></div>
		<div class="hsinfo">
			<img class="loveicon like" 
				src="../public/img/index/collect_icon_press@2x.png"/>
			<img class="loveicon dislike" 
				src="../public/img/index/collect_icon_nor@2x.png"/>
			<span class="hsname"><strong>东方金融中心</strong></span>
			<span class="hsaddress">浦东-八佰伴</span>
			<span class="hstype">商务中心</span>
			<span class="hsprice"><strong>￥7</strong> &nbsp;元/平米/天起</span>
			<span class="others">佣金：1个月</span></div></a>
	
	<a class="houselist">
		<div class="hsimg">
			<img src="../public/img/meinfo/content_img_list@2x.png"/></div>
		<div class="hsinfo">
			<img class="loveicon like" 
				src="../public/img/index/collect_icon_press@2x.png"/>
			<img class="loveicon dislike" 
				src="../public/img/index/collect_icon_nor@2x.png"/>
			<span class="hsname"><strong>东方金融中心</strong></span>
			<span class="hsaddress">浦东-八佰伴</span>
			<span class="hstype">商务中心</span>
			<span class="hsprice"><strong>￥7</strong> &nbsp;元/平米/天起</span>
			<span class="others">佣金：1个月</span></div></a>
	
	<a class="houselist">
		<div class="hsimg">
			<img src="../public/img/meinfo/content_img_list@2x.png"/></div>
		<div class="hsinfo">
			<img class="loveicon like" 
				src="../public/img/index/collect_icon_press@2x.png"/>
			<img class="loveicon dislike" 
				src="../public/img/index/collect_icon_nor@2x.png"/>
			<span class="hsname"><strong>东方金融中心</strong></span>
			<span class="hsaddress">浦东-八佰伴</span>
			<span class="hstype">商务中心</span>
			<span class="hsprice"><strong>￥7</strong> &nbsp;元/平米/天起</span>
			<span class="others">佣金：1个月</span></div></a>
	
	
	<div class="tagnav">
		<a class="navtab">
			<img class="tgnavpic" 
				src="../public/img/tagnav/bottom_press_icon04@2x.png"/>
			<span class="tgnavname active">首页</span></a>
		<a href="tagnav-appoint.html" class="navtab">
			<img class="tgnavpic" 
				src="../public/img/tagnav/bottom_nor_icon03@2x.png"/>
			<span class="tgnavname">预约</span></a>
		<a href="tagnav-post.html" class="navtab">
			<img class="addcontent" 
				src="../public/img/tagnav/bottom_icon05@2x.png"/></a>
		<a href="tagnav-infos.html" class="navtab">
			<img class="tgnavpic" 
				src="../public/img/tagnav/bottom_nor_icon02@2x.png"/>
			<span class="tgnavname">信息</span></a>
		<a href="tagnav-me.html" class="navtab">
			<img class="tgnavpic" 
				src="../public/img/tagnav/bottom_nor_icon01@2x.png"/>
		<span class="tgnavname">我</span></a>
	</div>
	
	
	<img class="totop" src="../public/img/index/content_btn_back@2x.png"/>
	
</body>
</html>
