<!DOCTYPE html>
<html lang="en">
<head>
	<title>宜其家室 - 杭州摆摆网络科技有限公司</title>
	<meta name="keywords" content="杭州摆摆网络科技有限公司">
	<meta name="description" content="杭州摆摆网络科技有限公司是1家互联网制作及设计的现代设计公司，
		摆摆网络将市场定位与企业互联网电子商务平台及企业信息化建设为基点，提供全方位的设计与应用方案。"/>
	<meta charset="UTF-8" name="viewport"
		content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no"/>
	
	<link rel="stylesheet" type="text/css" href="../public/css/universal.css"/>
	<link rel="stylesheet" type="text/css" href="../public/css/tagnav-infos.css"/>
	<link rel="stylesheet" type="text/css" href="../public/css/tagnav.css"/>
	<script type="text/javascript" src="../public/js/jquery-1.12.2.min.js"></script>
	<script type="text/javascript" src="../public/js/tagnav-infos.js"></script>
</head>
<body>
	
	<div class="tagnavinfos"><div class="wth244">
		<span class="infostab message active">消息</span>
		<span class="infostab notify">通知</span>
		<span class="infostab need">需求</span>
	</div></div>
	
	
	<div class="infosbox msgbox">
		<span class="title">
			你眼中“醉美夜滨江”摄影征集启动啦！</span>
		<span class="content">
			霓虹璀璨，凉风习习，越看越美，让人心醉。
			外滩、陆家嘴、徐汇滨江、北外滩......
			你眼中“醉美”的滨江夜景在哪里？</span>
		<span class="msgdate">08/04 13:06</span>
	</div>
	
	<div class="infosbox msgbox">
		<span class="title">
			你眼中“醉美夜滨江”摄影征集启动啦！</span>
		<span class="content">
			霓虹璀璨，凉风习习，越看越美，让人心醉。
			外滩、陆家嘴、徐汇滨江、北外滩......
			你眼中“醉美”的滨江夜景在哪里？</span>
		<span class="msgdate">08/04 13:06</span>
	</div>
	
	<div class="infosbox msgbox">
		<span class="title">
			你眼中“醉美夜滨江”摄影征集启动啦！</span>
		<span class="content">
			霓虹璀璨，凉风习习，越看越美，让人心醉。
			外滩、陆家嘴、徐汇滨江、北外滩......
			你眼中“醉美”的滨江夜景在哪里？</span>
		<span class="msgdate">08/04 13:06</span>
	</div>
	
	
	<div class="infosbox ntfybox">
		<span class="title">房源维护提示</span>
		<span class="ntfydate">08/04 13:06</span>
		<span class="content">
			您在本平台上传1处房源信息，现在有效期马上就要到了，
		请到“我发布的房源”中更新动态，5团后该房源将自动下架。
		<br/>地址：徐汇-龙华 科技大厦</span>
	</div>
	
	<div class="infosbox ntfybox">
		<span class="title">房源维护提示</span>
		<span class="ntfydate">08/04 13:06</span>
		<span class="content">
			您在本平台上传1处房源信息，现在有效期马上就要到了，
		请到“我发布的房源”中更新动态，5团后该房源将自动下架。
		<br/>地址：徐汇-龙华 科技大厦</span>
	</div>
	
	<div class="infosbox ntfybox">
		<span class="title">房源维护提示</span>
		<span class="ntfydate">08/04 13:06</span>
		<span class="content">
			您在本平台上传1处房源信息，现在有效期马上就要到了，
		请到“我发布的房源”中更新动态，5团后该房源将自动下架。
		<br/>地址：徐汇-龙华 科技大厦</span>
	</div>
	
	
	<div class="infosbox nedbox">
		<span class="title">一个新的租房需求</span>
		<span class="nedfrom subtenant">租户</span>
		<img class="splitimg" 
			src="../public/img/meinfo/content_list_border.9@2x.png"/>
		<span class="content">
			需求是：外滩SOHO，200平米写字楼，简装带家私，
			租金8元/m²/天左右，附近有地铁</span>
		<a class="nedbtn">了解详情</a>
		<span class="neddate">08/04 13:06</span>
	</div>
	
	<div class="infosbox nedbox">
		<span class="title">一个新的租房需求</span>
		<span class="nedfrom agent">经纪人</span>
		<img class="splitimg" 
			src="../public/img/meinfo/content_list_border.9@2x.png"/>
		<span class="content">
			需求是：外滩SOHO，200平米写字楼，简装带家私，
			租金8元/m²/天左右，附近有地铁</span>
		<a class="nedbtn">了解详情</a>
		<span class="neddate">08/04 13:06</span>
	</div>
	
	<div class="infosbox nedbox">
		<span class="title">一个新的租房需求</span>
		<span class="nedfrom developer">开发商</span>
		<img class="splitimg" 
			src="../public/img/meinfo/content_list_border.9@2x.png"/>
		<span class="content">
			需求是：外滩SOHO，200平米写字楼，简装带家私，
			租金8元/m²/天左右，附近有地铁</span>
		<a class="nedbtn">了解详情</a>
		<span class="neddate">08/04 13:06</span>
	</div>
	
	<div class="infosbox nedbox">
		<span class="title">一个新的租房需求</span>
		<span class="nedfrom agency">代理商</span>
		<img class="splitimg" 
			src="../public/img/meinfo/content_list_border.9@2x.png"/>
		<span class="content">
			需求是：外滩SOHO，200平米写字楼，简装带家私，
			租金8元/m²/天左右，附近有地铁</span>
		<a class="nedbtn">了解详情</a>
		<span class="neddate">08/04 13:06</span>
	</div>
	
	<div class="infosbox nedbox">
		<span class="title">一个新的租房需求</span>
		<span class="nedfrom operator">运营商</span>
		<img class="splitimg" 
			src="../public/img/meinfo/content_list_border.9@2x.png"/>
		<span class="content">
			需求是：外滩SOHO，200平米写字楼，简装带家私，
			租金8元/m²/天左右，附近有地铁</span>
		<a class="nedbtn">了解详情</a>
		<span class="neddate">08/04 13:06</span>
	</div>
	
	
	<div class="tagnav">
		<a href="tagnav-index.html" class="navtab">
			<img class="tgnavpic" 
				src="../public/img/tagnav/bottom_nor_icon04@2x.png"/>
			<span class="tgnavname">首页</span></a>
		<a href="tagnav-appoint.html" class="navtab">
			<img class="tgnavpic" 
				src="../public/img/tagnav/bottom_nor_icon03@2x.png"/>
			<span class="tgnavname">预约</span></a>
		<a href="tagnav-post.html" class="navtab">
			<img class="addcontent" 
				src="../public/img/tagnav/bottom_icon05@2x.png"/></a>
		<a class="navtab">
			<img class="tgnavpic" 
				src="../public/img/tagnav/bottom_press_icon02@2x.png"/>
			<span class="tgnavname active">信息</span></a>
		<a href="tagnav-me.html" class="navtab">
			<img class="tgnavpic" 
				src="../public/img/tagnav/bottom_nor_icon01@2x.png"/>
		<span class="tgnavname">我</span></a>
	</div>
	
</body>
</html>
