<!DOCTYPE html>
<html lang="en">
<head>
	<title>宜其家室 - 杭州摆摆网络科技有限公司</title>
	<meta name="keywords" content="杭州摆摆网络科技有限公司">
	<meta name="description" content="杭州摆摆网络科技有限公司是1家互联网制作及设计的现代设计公司，
		摆摆网络将市场定位与企业互联网电子商务平台及企业信息化建设为基点，提供全方位的设计与应用方案。"/>
	<meta charset="UTF-8" name="viewport"
		content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no"/>
	
	<link rel="stylesheet" type="text/css" href="../public/css/universal.css"/>
	<link rel="stylesheet" type="text/css" href="../public/css/tagnav-appoint.css"/>
	<link rel="stylesheet" type="text/css" href="../public/css/tagnav.css"/>
</head>
<body>
	
	<div class="headnav">
		<span class="navname">预约</span>
	</div>
	
	
	<div class="appointlist">
		<div class="apthsimg">
			<img src="../public/img/appoint/content_img@2x.png"/></div>
		<div class="apthsinfo">
			<span class="greet">先生/女士您好：</span>
			<span class="content">
				我想看【京德大楼】的房源，请帮我安排，
				地址是常德路319号。</span>
			<span class="time">看房时间：08/08</span>
			<a href="#" class="getaptbtn">接单</a>
			<div class="posttime">
				<img src="../public/img/appoint/content_icon@2x.png"/>
				<span>08/03/ 16:02</span></div></div>
	</div>
	
	<div class="appointlist">
		<div class="apthsimg">
			<img src="../public/img/appoint/content_img@2x.png"/></div>
		<div class="apthsinfo">
			<span class="greet">先生/女士您好：</span>
			<span class="content">
				我想看【京德大楼】的房源，请帮我安排，
				地址是常德路319号。</span>
			<span class="time">看房时间：08/08</span>
			<a href="#" class="getaptbtn">接单</a>
			<div class="posttime">
				<img src="../public/img/appoint/content_icon@2x.png"/>
				<span>08/03/ 16:02</span></div></div>
	</div>
	
	<div class="appointlist">
		<div class="apthsimg">
			<img src="../public/img/appoint/content_img@2x.png"/></div>
		<div class="apthsinfo">
			<span class="greet">先生/女士您好：</span>
			<span class="content">
				我想看【京德大楼】的房源，请帮我安排，
				地址是常德路319号。</span>
			<span class="time">看房时间：08/08</span>
			<span class="statue">已接单，待反馈</span>
			<div class="posttime">
				<img src="../public/img/appoint/content_icon@2x.png"/>
				<span>08/03/ 16:02</span></div></div>
	</div>
	
	<div class="appointlist">
		<div class="apthsimg">
			<img src="../public/img/appoint/content_img@2x.png"/></div>
		<div class="apthsinfo">
			<span class="greet">先生/女士您好：</span>
			<span class="content">
				我想看【京德大楼】的房源，请帮我安排，
				地址是常德路319号。</span>
			<span class="time">看房时间：08/08</span>
			<span class="statue">已接单，待反馈</span>
			<div class="posttime">
				<img src="../public/img/appoint/content_icon@2x.png"/>
				<span>08/03/ 16:02</span></div></div>
	</div>
	
	<div class="appointlist">
		<div class="apthsimg">
			<img src="../public/img/appoint/content_img@2x.png"/></div>
		<div class="apthsinfo">
			<span class="greet">先生/女士您好：</span>
			<span class="content">
				我想看【京德大楼】的房源，请帮我安排，
				地址是常德路319号。</span>
			<span class="time">看房时间：08/08</span>
			<span class="statue">完成</span>
			<div class="posttime">
				<img src="../public/img/appoint/content_icon@2x.png"/>
				<span>08/03/ 16:02</span></div></div>
	</div>
	
	<div class="appointlist">
		<div class="apthsimg">
			<img src="../public/img/appoint/content_img@2x.png"/></div>
		<div class="apthsinfo">
			<span class="greet">先生/女士您好：</span>
			<span class="content">
				我想看【京德大楼】的房源，请帮我安排，
				地址是常德路319号。</span>
			<span class="time">看房时间：08/08</span>
			<span class="statue">完成</span>
			<div class="posttime">
				<img src="../public/img/appoint/content_icon@2x.png"/>
				<span>08/03/ 16:02</span></div></div>
	</div>
	
	<div class="appointlist">
		<div class="apthsimg">
			<img src="../public/img/appoint/content_img@2x.png"/></div>
		<div class="apthsinfo">
			<span class="greet">先生/女士您好：</span>
			<span class="content">
				我想看【京德大楼】的房源，请帮我安排，
				地址是常德路319号。</span>
			<span class="time">看房时间：08/08</span>
			<span class="statue">完成</span>
			<div class="posttime">
				<img src="../public/img/appoint/content_icon@2x.png"/>
				<span>08/03/ 16:02</span></div></div>
	</div>
	
	<div class="appointlist">
		<div class="apthsimg">
			<img src="../public/img/appoint/content_img@2x.png"/></div>
		<div class="apthsinfo">
			<span class="greet">先生/女士您好：</span>
			<span class="content">
				我想看【京德大楼】的房源，请帮我安排，
				地址是常德路319号。</span>
			<span class="time">看房时间：08/08</span>
			<span class="statue">完成</span>
			<div class="posttime">
				<img src="../public/img/appoint/content_icon@2x.png"/>
				<span>08/03/ 16:02</span></div></div>
	</div>
	
	
	<div class="tagnav">
		<a href="tagnav-index.html" class="navtab">
			<img class="tgnavpic" 
				src="../public/img/tagnav/bottom_nor_icon04@2x.png"/>
			<span class="tgnavname">首页</span></a>
		<a class="navtab">
			<img class="tgnavpic" 
				src="../public/img/tagnav/bottom_press_icon03@2x.png"/>
			<span class="tgnavname active">预约</span></a>
		<a href="tagnav-post.html" class="navtab">
			<img class="addcontent" 
				src="../public/img/tagnav/bottom_icon05@2x.png"/></a>
		<a href="tagnav-infos.html" class="navtab">
			<img class="tgnavpic" 
				src="../public/img/tagnav/bottom_nor_icon02@2x.png"/>
			<span class="tgnavname">信息</span></a>
		<a href="tagnav-me.html" class="navtab">
			<img class="tgnavpic" 
				src="../public/img/tagnav/bottom_nor_icon01@2x.png"/>
		<span class="tgnavname">我</span></a>
	</div>
	
</body>
</html>
